{% extends 'base.html' %}

{% block title %} {{ cafe.name }} {% endblock %}

{% block content %}

<div class="row justify-content-center">

  <div class="col-10 col-sm-8 col-md-4 col-lg-3">
    <img class="img-fluid mb-5" src="{{ cafe.image_url }}">
  </div>

  <div class="col-12 col-sm-10 col-md-8">

    <h1 class="d-inline-block mr-3">{{ cafe.name }}</h1>
      {% if g.user%}
        <div id="toggle-cafe-{{cafe.id}}">
          {% if g.user.has_liked(cafe.id) %}
            <form class="d-inline-block unlike-button" method="POST" action="/api/unlike">
              <button class="btn btn-outline-primary mb-3" id="like-button">Unlike</button>
            </form>
          {% else %}
            <form class="d-inline-block like-button" method="POST" action="/api/like">
              <button class="btn btn-outline-primary mb-3" id="like-button">Like</button>
            </form>
          {% endif %}
        </div>
      {% endif %}
      
    <p class="lead">{{ cafe.description }}</p>

    <p><a href="{{ cafe.url }}">{{ cafe.url }}</a></p>

    <p>
      {{ cafe.address }}<br>
      {{ cafe.get_city_state() }}<br>
    </p>

    <p>
      <a class="btn btn-outline-primary" href="/cafes/{{ cafe.id }}/edit">
        Edit Cafe
      </a>
    </p>

  </div>

  {% endblock %}